@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

@font-face {
    font-family: 'Franklin';
    src: url('./fonts/sourcesans/SourceSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Franklin';
  src: url('./fonts/sourcesans/SourceSansItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
  
@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/merriweather/MerriweatherSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/merriweather/MerriweatherSansItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}